@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basement Grotesque";
  src: url("/fonts/BasementGrotesque-Black_v1.202.woff2") format("woff2"),
    url("/fonts/BasementGrotesque-Black_v1.202.woff") format("woff");
  /* font-weight: 100; */
  font-style: normal;
  font-display: swap;
}
